@page "/products"
@rendermode InteractiveServer
@inject ICategoryService CategoryService
@inject IProductService ProductService
@inject IDialogService DialogService
@inject IToastService ToastService
@inject NavigationManager NavigationManager

<PageTitle>Products</PageTitle>

<h1>Products</h1>

<FluentAnchor Href="/products/new" Appearance="Appearance.Accent">Add New Product</FluentAnchor>

<FluentDataGrid @ref="dataGrid" ItemsProvider="itemsProvider" Pagination="@pagination">
  <PropertyColumn Title="Name" Property="@(p => p.name)" Sortable="true" Class="multiline-text">
    <ColumnOptions>
      <label>
        <input type="search" autofocus @bind="nameFilter" @bind:event="oninput" placeholder="Product Name..." @onchange="FilterChangedAsync" />
      </label>
    </ColumnOptions>
  </PropertyColumn>
  <PropertyColumn Width="250px" Title="Category Full Name Path" Property="@(p => p.categoryFullNamePath)" Sortable="true" Class="multiline-text">
    <ColumnOptions>
      <label>
        <input type="search" autofocus @bind="fullNamePathFilter" @bind:event="oninput" placeholder="Full Category Name..." @onchange="FilterChangedAsync" />
      </label>
    </ColumnOptions>
  </PropertyColumn>
  <PropertyColumn Title="Price" Property="@(p => p.price)" Format="C0" />
  <TemplateColumn Title="Actions" Align="@Align.End">
    <FluentAnchor Href=@($"/products/{context.id}/edit")>
      <FluentIcon Value="@(new Icons.Regular.Size16.Edit())" />
    </FluentAnchor>
    <FluentButton IconEnd="@(new Icons.Regular.Size16.Delete())" OnClick="@((async) => DeleteProduct(context))" Appearance="Appearance.Outline" />
  </TemplateColumn>
</FluentDataGrid>

<FluentPaginator State="@pagination" />

@code {
  GridItemsProvider<Product>? itemsProvider;
  FluentDataGrid<Product> dataGrid;
  string nameFilter = string.Empty;
  string fullNamePathFilter = string.Empty;

  PaginationState pagination = new PaginationState { ItemsPerPage = Constants.PageSize };

  protected override void OnInitialized()
  {
    InitGridItemsProvider();

  }
  void InitGridItemsProvider()
  {
    itemsProvider = async req =>
    {
      ProductSearchReq dto = new();
      dto.Name = nameFilter;
      dto.CategoryFullNamePath = fullNamePathFilter;
      dto.Skip = req.StartIndex;
      dto.Take = req.Count ?? Constants.PageSize;
      dto.SortOrder = req.SortByAscending ? Constants.Ascending : Constants.Descending;
      dto.OrderBy = req.SortByColumn?.Title?.Replace(" ", "");
      var res = ProductService.Search(dto);
      return GridItemsProviderResult.From(res.Items, res.Count);
    };
  }
  Task FilterChangedAsync() => dataGrid!.RefreshDataAsync();
  async Task DeleteProduct(Product context)
  {
    Console.WriteLine("Delete " + context.name);
    var dialog = await DialogService.ShowConfirmationAsync($"Do you want to DELETE {context.name}?", "YES, I WANT TO DELETE", "No", "Delete Product");
    var result = await dialog.Result;
    if (!result.Cancelled)
    {
      await ProductService.DeleteAsync(context);
      ToastService.ShowSuccess("Product deleted");
      await dataGrid.RefreshDataAsync();
    }
  }
}
